<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container mt-3">
    <div class="card">
      <div class="head">
        <h2>Rate The Quality of Samsung Product</h2>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <img style="width: 500px;" src="../assets/S22.jpg" alt="">
        </div>
        <div class="col-md-6">
          <h3>Samsung Phone</h3>
          <p>The Samsung Galaxy S22 will likely launch in early 2022. Samsung moved up the release date of the Galaxy S21 from its typical February time frame to January 29. 
  
            However, a recent report has the Galaxy S22 tipped to be released February 28, just ahead of MWC 2022. How accurate this tip is isn't clear, but it would mean the Galaxy S22 line-up would launch in the same time frame as Samsung phones from a couple of years ago. 
            
            One other option is an unusually early December 2021 launch, according to leaker Ice Universe. While it would mean the Galaxy S22 would launch before the Galaxy S21 was even a year old, it could give Samsung a boost in competing against the iPhone 13 range, as well as the upcoming Google Pixel 6.  
            
            </p>
          <ngb-rating [max]="6" [(rate)]="currentRate" class="rate" style="font-size: 34px" ></ngb-rating>
          <hr>
          <pre>Rate: <b>{{currentRate}}</b> of 6</pre>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
</body>
</html>